[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "matrixprofiler"]
	path = matrixprofiler
	url = https://github.com/matrix-profile-foundation/matrixprofiler
[submodule "tsmp"]
	path = tsmp
	url = https://github.com/matrix-profile-foundation/tsmp
